P_미니플젝2/0. Tutorial.ipynb
P_미니플젝2/1.1 데이터 불러오기 및 분석(EDA)_2차_버스정류장데이터.ipynb
P_미니플젝2/1.1 BUS_STATION_BOARDING_MONTH_202204.csv
P_미니플젝2/1.1 bus_station.csv
P_미니플젝2/1.2 데이터 불러오기 및 분석(EDA)_2차_유동인구데이터.ipynb
P_미니플젝2/1.2 seoul_moving_month_4.csv
P_미니플젝2/1.3 데이터 불러오기 및 분석(EDA)_2차_주민등록데이터.ipynb
P_미니플젝2/1.3 seoul_people.csv
P_미니플젝2/1.4 데이터 불러오기 및 분석(EDA)_2차_업종등록데이터.ipynb
P_미니플젝2/1.4 business_type.csv
P_미니플젝2/1.5 데이터 불러오기 및 분석(EDA)_2차_데이터 분석.ipynb
P_미니플젝2/2.1 조별 제출물_00반_00조.ipynb
P_미니플젝2/df_민기.csv
P_미니플젝2/df_main.csv
P_미니플젝2/df_seoul_bus_station.csv
P_미니플젝2/df_seoul_business_민기.csv
P_미니플젝2/df_seoul_business.csv
P_미니플젝2/df_seoul_moving.csv
P_미니플젝2/df_seoul_people.csv
P_미니플젝2/df_seoul.csv
P_미니플젝2/i_seoul_people_65.csv
P_미니플젝2/jh_people
P_미니플젝2/seoul_bus_final.csv
P_미니플젝2/Unlast.ipynb
P_미니플젝2/Untitled.ipynb
P_미니플젝2/Untitled1.ipynb
P_미니플젝2/.ipynb_checkpoints/0. Tutorial-checkpoint.ipynb
P_미니플젝2/.ipynb_checkpoints/1.1 데이터 불러오기 및 분석(EDA)_2차_버스정류장데이터-checkpoint.ipynb
P_미니플젝2/.ipynb_checkpoints/1.2 데이터 불러오기 및 분석(EDA)_2차_유동인구데이터-checkpoint.ipynb
P_미니플젝2/.ipynb_checkpoints/1.3 데이터 불러오기 및 분석(EDA)_2차_주민등록데이터-checkpoint.ipynb
P_미니플젝2/.ipynb_checkpoints/1.4 데이터 불러오기 및 분석(EDA)_2차_업종등록데이터-checkpoint.ipynb
P_미니플젝2/.ipynb_checkpoints/1.4 business_type-checkpoint.csv
P_미니플젝2/.ipynb_checkpoints/1.5 데이터 불러오기 및 분석(EDA)_2차_데이터 분석-checkpoint.ipynb
P_미니플젝2/.ipynb_checkpoints/2.1 조별 제출물_00반_00조-checkpoint.ipynb
P_미니플젝2/.ipynb_checkpoints/df_민기-checkpoint.csv
P_미니플젝2/.ipynb_checkpoints/df_seoul_business_민기-checkpoint.csv
P_미니플젝2/.ipynb_checkpoints/df_seoul-checkpoint.csv
P_미니플젝2/.ipynb_checkpoints/i_seoul_people_65-checkpoint.csv
P_미니플젝2/.ipynb_checkpoints/Unlast-checkpoint.ipynb
P_미니플젝2/.ipynb_checkpoints/Untitled-checkpoint.ipynb
P_미니플젝2/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
P_미니플젝2/4일차/new_seoulbike_student.ipynb
P_미니플젝2/4일차/traindata.csv
P_미니플젝2/4일차/Untitled.ipynb
P_미니플젝2/4일차/.ipynb_checkpoints/new_seoulbike_student-checkpoint.ipynb
P_미니플젝2/4일차/.ipynb_checkpoints/Untitled-checkpoint.ipynb
P_미니플젝2/내가만든/0. Tutorial.ipynb
P_미니플젝2/내가만든/1.1 데이터 불러오기 및 분석(EDA)_2차_버스정류장데이터.ipynb
P_미니플젝2/내가만든/1.1 BUS_STATION_BOARDING_MONTH_202204.csv
P_미니플젝2/내가만든/1.1 bus_station.csv
P_미니플젝2/내가만든/1.2 데이터 불러오기 및 분석(EDA)_2차_유동인구데이터.ipynb
P_미니플젝2/내가만든/1.2 seoul_moving_month_4.csv
P_미니플젝2/내가만든/1.3 데이터 불러오기 및 분석(EDA)_2차_주민등록데이터.ipynb
P_미니플젝2/내가만든/1.3 seoul_people.csv
P_미니플젝2/내가만든/1.4 데이터 불러오기 및 분석(EDA)_2차_업종등록데이터.ipynb
P_미니플젝2/내가만든/1.4 business_type.csv
P_미니플젝2/내가만든/1.5 데이터 불러오기 및 분석(EDA)_2차_데이터 분석.ipynb
P_미니플젝2/내가만든/2.1 조별 제출물_00반_00조.ipynb
P_미니플젝2/내가만든/df_민기.csv
P_미니플젝2/내가만든/df_main.csv
P_미니플젝2/내가만든/df_seoul_bus_station.csv
P_미니플젝2/내가만든/df_seoul_business_민기.csv
P_미니플젝2/내가만든/df_seoul_moving.csv
P_미니플젝2/내가만든/df_seoul_people.csv
P_미니플젝2/내가만든/df_seoul.csv
P_미니플젝2/내가만든/i_seoul_people_65.csv
P_미니플젝2/내가만든/jh_people
P_미니플젝2/내가만든/seoul_bus_final.csv
P_미니플젝2/내가만든/Unlast.ipynb
P_미니플젝2/내가만든/Untitled.ipynb
P_미니플젝2/내가만든/Untitled1.ipynb
P_미니플젝2/내가만든/.ipynb_checkpoints/0. Tutorial-checkpoint.ipynb
P_미니플젝2/내가만든/.ipynb_checkpoints/1.1 데이터 불러오기 및 분석(EDA)_2차_버스정류장데이터-checkpoint.ipynb
P_미니플젝2/내가만든/.ipynb_checkpoints/1.2 데이터 불러오기 및 분석(EDA)_2차_유동인구데이터-checkpoint.ipynb
P_미니플젝2/내가만든/.ipynb_checkpoints/1.3 데이터 불러오기 및 분석(EDA)_2차_주민등록데이터-checkpoint.ipynb
P_미니플젝2/내가만든/.ipynb_checkpoints/1.4 데이터 불러오기 및 분석(EDA)_2차_업종등록데이터-checkpoint.ipynb
P_미니플젝2/내가만든/.ipynb_checkpoints/1.5 데이터 불러오기 및 분석(EDA)_2차_데이터 분석-checkpoint.ipynb
P_미니플젝2/서울버스_원본/0. Tutorial.ipynb
P_미니플젝2/서울버스_원본/1.1 데이터 불러오기 및 분석(EDA)_2차_버스정류장데이터.ipynb
P_미니플젝2/서울버스_원본/1.1 BUS_STATION_BOARDING_MONTH_202204.csv
P_미니플젝2/서울버스_원본/1.1 bus_station.csv
P_미니플젝2/서울버스_원본/1.2 데이터 불러오기 및 분석(EDA)_2차_유동인구데이터.ipynb
P_미니플젝2/서울버스_원본/1.2 seoul_moving_month_4.csv
P_미니플젝2/서울버스_원본/1.3 데이터 불러오기 및 분석(EDA)_2차_주민등록데이터.ipynb
P_미니플젝2/서울버스_원본/1.3 seoul_people.csv
P_미니플젝2/서울버스_원본/1.4 데이터 불러오기 및 분석(EDA)_2차_업종등록데이터.ipynb
P_미니플젝2/서울버스_원본/1.4 business_type.csv
P_미니플젝2/서울버스_원본/1.5 데이터 불러오기 및 분석(EDA)_2차_데이터 분석.ipynb
P_미니플젝2/서울버스_원본/df_seoul_bus_station.csv
P_미니플젝2/서울버스_원본/.ipynb_checkpoints/1.1 데이터 불러오기 및 분석(EDA)_2차_버스정류장데이터-checkpoint.ipynb
P_미니플젝2/서울버스_원본/.ipynb_checkpoints/1.2 데이터 불러오기 및 분석(EDA)_2차_유동인구데이터-checkpoint.ipynb
P_미니플젝2/서울버스_원본/.ipynb_checkpoints/1.3 데이터 불러오기 및 분석(EDA)_2차_주민등록데이터-checkpoint.ipynb
P_미니플젝2/서울버스_원본/.ipynb_checkpoints/1.4 데이터 불러오기 및 분석(EDA)_2차_업종등록데이터-checkpoint.ipynb
P_미니플젝2/서울버스_원본/.ipynb_checkpoints/1.5 데이터 불러오기 및 분석(EDA)_2차_데이터 분석-checkpoint.ipynb
1.2 seoul_moving_month_4.csv
P_셀테/1.2 seoul_moving_month_4.csv
